*{margin: 0;padding: 0;}
a{text-decoration: none;}

@media (max-width:1215px) and (min-width:1001px){
    #part3{width: 984px;}
    #part3 .col{width: 432px;}
    #part4 .projects-list{width: 984px;}
    #part4 .projects-list .project{width: 268px;height: 268px;}
}
@media (max-width:1000px) and (min-width:601px){
    .full-page #title{font-size: 48px;}
    #part3{width: 100%;}
    #part3 .col{margin-bottom: 10px;box-sizing: border-box;padding-left: 10px;padding-right: 10px;margin-left: 0;margin-right: 0;width: auto;}
    #part4{padding-top: 30px;padding-bottom: 0px;}
    #part4 .projects-list{width: 100%;}
    #part4 .projects-list .project{margin: 5px 10px;width: calc(50% - 20px);}
    #part5 .wrap .col{width: 100%;text-align: center;}
}
